@model PatientCard.Models.Hospital

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hospital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdDepartament" class="control-label"></label>
                <select asp-for="IdDepartament" class ="form-control" asp-items="ViewBag.IdDepartament"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdOrganization" class="control-label"></label>
                <select asp-for="IdOrganization" class ="form-control" asp-items="ViewBag.IdOrganization"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdReception" class="control-label"></label>
                <select asp-for="IdReception" class ="form-control" asp-items="ViewBag.IdReception"></select>
            </div>
            <div class="form-group">
                <label asp-for="InspectionHospitalId" class="control-label"></label>
                <select asp-for="InspectionHospitalId" class ="form-control" asp-items="ViewBag.InspectionHospitalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateReceipt" class="control-label"></label>
                <input asp-for="DateReceipt" class="form-control" />
                <span asp-validation-for="DateReceipt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDischarge" class="control-label"></label>
                <input asp-for="DateDischarge" class="form-control" />
                <span asp-validation-for="DateDischarge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ward" class="control-label"></label>
                <input asp-for="Ward" class="form-control" />
                <span asp-validation-for="Ward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOperation" class="control-label"></label>
                <select asp-for="IdOperation" class ="form-control" asp-items="ViewBag.IdOperation"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

