@model PatientCard.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRecipe" />
            <div class="form-group">
                <label asp-for="CodeRecipe" class="control-label"></label>
                <input asp-for="CodeRecipe" class="form-control" />
                <span asp-validation-for="CodeRecipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRecipe" class="control-label"></label>
                <input asp-for="DateRecipe" class="form-control" />
                <span asp-validation-for="DateRecipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDoctor" class="control-label"></label>
                <select asp-for="IdDoctor" class="form-control" asp-items="ViewBag.IdDoctor"></select>
                <span asp-validation-for="IdDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeName" class="control-label"></label>
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSignatureDoctor" class="control-label"></label>
                <select asp-for="IdSignatureDoctor" class="form-control" asp-items="ViewBag.IdSignatureDoctor"></select>
                <span asp-validation-for="IdSignatureDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

