@model PatientCard.Models.Analyze

@{
    ViewData["Title"] = "Create";
}

<h1>Создание</h1>

<h4>Анализы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDepartament" class="control-label"></label>
                <select asp-for="IdDepartament" class ="form-control" asp-items="ViewBag.IdDepartament"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdOrganization" class="control-label"></label>
                <select asp-for="IdOrganization" class ="form-control" asp-items="ViewBag.IdOrganization"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdService" class="control-label"></label>
                <select asp-for="IdService" class ="form-control" asp-items="ViewBag.IdService"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateAnalyzes" class="control-label"></label>
                <input asp-for="DateAnalyzes" class="form-control" />
                <span asp-validation-for="DateAnalyzes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDoctor" class="control-label"></label>
                <select asp-for="IdDoctor" class ="form-control" asp-items="ViewBag.IdDoctor"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

